* {
    margin: 0;
    color: #fff;
}

@font-face {
    font-family: "Swiftel";
    src: url("../fonts/Swiftel.ttf"),
         url('../fonts/Swiftel.woff2') format('woff2'),
         url('../fonts/Swiftel.woff') format('woff'); /* Pretty Modern Browsers */
}

.pimpositor-font {
    font-family: "Swiftel";
}

.header > p > a {
    font-size: 66pt;
    color: #ff6900;
    text-decoration: none;
    /*-webkit-text-stroke: 1px #ff6900;*/
    /*-webkit-text-fill-color: #fff;*/
}

.btn-orange {
    color: #fff;
    background-color: #ff6900;
    border-color: #fff;
}

.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.btn-black:hover {
    color: #fff;
    background-color: #ff6900;
    border-color: #fff;
}

.black-bg {
    background-color: #333;
}

#instructions > p {
    color: #fff;
}

#instructions > p > .pimpositor-font {
    color: #ff6900;
    font-size: 18pt;
    /*-webkit-text-stroke: 1px #ff6900;*/
    /*-webkit-text-fill-color: transparent;*/
}

#instructions > div > .thumbnail > .pop:hover {
    cursor: pointer;
}