<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pimpositor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <header id="header" class="">
        <p>Welcome to Pimpositor</p>
    </header><!-- /header -->
    <body>
        <p>Upload a picture (selfies work better!) and press the 'Pimp' button</p>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
            <input type="file" name="picture">
            <button type="submit">Pimp!</button>
        </form>
    </body>
</html>