<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Pimpositor Oops page">
        <meta name="keywords" content="Pimpositor">
        <meta name="author" content="Patilla Code">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pimpositor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/problem.css') }}">
    </head>
    <body class="full">
        <div class="container">
            <div class="jumbotron vertical-center">
                <div class="container text-center">
                    <p class="">Oops</p>
                    <p class="">Something went wrong.</p>
                    <a href="http://{{ request.host }}" role="button" type="button" class="btn-lg btn-warning">
                        Go back!
                    </a>
                </div>
            </div>
        </div>
        <script type="text/javascript"></script>
    </body>
</html>